#menu{
width: 100%;
height: 200px;
background-image: url(../imagenes/Fondo.png);
}
#menu_boton{
width: 950%;
height: 100px;
background: #F6AE97;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
opacity: 0.7;

}
table{
text-align:left;
border-spacing:  5px 25px;
}
td{
cursor:pointer;
}
.oculta{
visibility:hidden;
}
.muestra{
visibility:visible;
}

/* el selector utilizado para el id es #*/
#menu_boton ul li {
list-style: none;
display: inline;
font-weight: bold;
padding: 10px;
margin-top: 10px;
}


table{
margin-right: 20%;
}


#menu_boton th{
color:seagreen;
text-decoration: none;
}
#menu_boton th :hover{
background:orangeRed;
transition: all 0.45s;
cursor:pointer;
}

#formulario{
    position: absolute;
    top:50%;
    left: 70%;
   visibility: hidden;
     text-align: right;
     cursor : pointer;
}
.mostrarContacto{
    visibility: visible;
}
#formulario form {
    text-align: left;
    
}

